<div class="section-inner container disable-selection">
    <nav class="nav nav-pills nav-justified products-nav">
        <a [routerLink]="['nuts']" routerLinkActive="active" class="nav-item nav-link">Горішки</a>
        <a [routerLink]="['fruits']" routerLinkActive="active" class="nav-item nav-link">Сухофрукти</a>
        <a [routerLink]="['mixes']" routerLinkActive="active" class="nav-item nav-link">Мікси</a>
        <a [routerLink]="['gifts']" routerLinkActive="active" class="nav-item nav-link">Подарункові коробочки</a>
    </nav>
    <router-outlet><app-loading-wheel></app-loading-wheel></router-outlet>
</div>