.padding-top-50 {
    padding-top: 50px;
}

.file-input-label {
    width: 100%;
}

.admin-add-button {
    text-align: center;
}



.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 750px;
  }
  
  ::ng-deep .example-table-container {
    position: relative;
    overflow: auto;
    display: grid;
  }
  
  ::ng-deep .mat-table {
    width: 100%;
    min-width: 700px;
  }
  
  ::ng-deep .gray { 
    background-color: #f5f5f5;
  }

  .mat-column-identifier {
    min-width: 210px;
    max-width: 210px;
  }

  .mat-column-label {
    min-width: 300px;
    max-width: 300px;
  }

  .mat-column-cost {
    min-width: 60px;
    max-width: 60px;
  }

  .mat-column-label input {
    width: 250px;
  }

  .mat-column-cost input {
    width: 40px;
  }