<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 dashboard-section-image">
            <a routerLink="/products/nuts" aria-label="Горішки Білочка">
                <img src="assets/img/nuts.jpg" alt="Горішки Білочка" />
            </a>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 dashboard-section-text">
            <p>Величезний вибір найсмачніших горішків
                на Ваш смак. Споживання горіхів щодня може допомогти позбутися
                від ряду захворювань, включаючи серцеві захворювання та хронічні запалення, не приносячи шкоди лінії талії.
                Ідеальна закуска вдома, в офісі та в дорозі. Чудово підходить як для кожного дня, так і для вечірок та
                особливих подій.
                <a routerLink="/products/nuts" aria-label="Переглянути горішки">Переглянути горішки.</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 order-2 order-md-1 dashboard-section-text">
            <p>Коли сухофрукти сушаться, вони стискаються, залишаючи маленькі сухі плоди, смачні та поживні продукти
                які заряджають організм енергією. Вони зберігаються набагато довше, ніж свіжі фрукти, і можуть бути
                зручною закускою на кожен день. Вони містять приблизно стільки ж поживних речовин та
                у них буде однакова кількість калорій і кількість цукру, що і у свіжих фруктів,
                Вони містять багато клітковини і є прекрасним джерелом антиоксидантів. Смачна, портативна та сповнена
                добра.
                Що ще ви могли б попросити!
                <a routerLink="/products/fruits" aria-label="Переглянути сухофрукти">Переглянути сухофрукти.</a></p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 order-1 order-md-2 dashboard-section-image">
            <a routerLink="/products/fruits" aria-label="Сухофрукти Білочка">
                <img src="assets/img/fruits1.jpg" alt="Сухофрукти Білочка" />
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 dashboard-section-image">
            <a routerLink="/products/mixes" aria-label="Мікси Білочка">
                <img src="assets/img/mixes.jpg" alt="Мікси Білочка" />
            </a>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 dashboard-section-text">
            <p>Наші мікси горішків та сухофруктів для
                фітнесу забезпечує вам багато енергії та всього, що важливо
                для спортсменів. І в ньому найсмачніші горіхи, які ми можемо запропонувати! Вишукана макадамія, багаті
                енергією бразильські горіхи, унікальні кеш'ю та екзотичні кіноа! Для спортсменів горіхи - це незамінне
                джерело енергії. З тієї самої причини, що для Вас важливе Ваше здоров'я, Вам не хочеться обійтися без
                різноманітності? Наша горіхова суміш дарує Вам насолоду без нудьги!
                <a routerLink="/products/mixes" aria-label="Переглянути мікси">Переглянути мікси.</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 order-2 order-md-1 dashboard-section-text">
            <p>Шукаєте щось смачне
                корисне та оригінальне на подарунок Вашим близьким рідним чи коханим?
                Тоді це саме те що треба! Подарункові коробочки з різноманітними смаколиками завжди прийдуться
                до смаку всім
                любителям здорової їжі. А індивідуальний надпис на коробочці приємно здивує.
                <a routerLink="/products/gifts" aria-label="Переглянути подарункові коробочки">Переглянути подарункові
                    коробочки.</a></p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 order-1 order-md-2 dashboard-section-image">
            <a routerLink="/products/gifts" aria-label="Подарункові коробочки Білочка">
                <img src="assets/img/gifts.jpg" alt="Подарункові коробочки Білочка" />
            </a>
        </div>
    </div>
</div>