<div class="master-wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default transition-smooth navbar-fixed-top" appScroll>
        <div class="top-bar transition-smooth hidden-xs" id="header-top-bar">
            <div class="container">
                <div class="pull-left text-left">
                    <ul class="list-inline social-links disable-selection">
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/bilochka_nuts_fruits" rel="noreferrer" target="_blank"
                                aria-label="Twitter">
                                <i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/bilochka.nutsfruts" rel="noreferrer" target="_blank"
                                aria-label="Facebook">
                                <i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/bilochka_nuts_fruits" rel="noreferrer" target="_blank"
                                aria-label="Instagram">
                                <i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="pull-right text-right">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <div><i class="fa fa-envelope-o"></i> bilochka.lviv@gmail.com</div>
                        </li>
                        <li class="list-inline-item">
                            <div class="meta-item"><i class="fa fa-mobile"></i> +38 063 84 80 320</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container disable-selection">
            <div class="navbar-header">
                <a [routerLink]="['/cart']" aria-label="Home page">
                    <cart-summary id="cart-summary-mobile-item" [noItemsText]="'# товарів'" [oneItemText]="'# товар'"
                        [manyItemsText]="manyItemsText" [icon]="'/cart-icon.svg'">
                    </cart-summary>
                </a>
                <a class="navbar-brand transition-smooth logo logo-light" [routerLink]="['/']" aria-label="Home page">
                    <img src="assets/img/logo.png" alt="logo"></a>
                <a class="navbar-brand transition-smooth logo logo-dark" [routerLink]="['/']"
                    aria-label="Home page"><img src="assets/img/logo_reverse.png" alt="logo"></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="main-navigation" appScroll>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a [routerLink]="['/']" aria-label="Головна сторінка Білочка">Головна</a>
                    </li>
                    <li>
                        <a [routerLink]="['/products/nuts']" aria-label="Продукція Білочка">Продукція</a>
                    </li>
                    <li>
                        <a [routerLink]="['/about-us']" aria-label="Про нас Білочка">Про нас</a>
                    </li>
                    <li>
                        <a [routerLink]="['/contacts']" aria-label="Контакти Білочка">Контакти</a>
                    </li>
                    <li *ngIf="user" class="cursor-pointer">
                        <a (click)="logOut()" aria-label="Вийти">Вийти</a>
                    </li>
                    <li id="cart-summary-list-item">
                        <a [routerLink]="['/cart']" aria-label="Кошик">
                            <cart-summary [noItemsText]="'# товарів'" [oneItemText]="'# товар'"
                                [manyItemsText]="manyItemsText" [icon]="'/cart-icon.svg'">
                            </cart-summary>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header id="headerwrap" class="dark-wrapper disable-selection" appScroll>
        <div class="header-overlay"></div>
        <div class="container vertical-center">
            <div class="intro-text vertical-center text-left">
                <div class="intro-heading">Горішки та фрукти</div>
                <div class="intro-sub-heading">спробуйте
                    <span id="intro-commercial">надзвичайно смачні</span></div>
            </div>
        </div>
        <div class="backstretch">
            <div id="start-slide">
                <div class="vegas-slide-inner"></div>
            </div>
        </div>
    </header>

    <section id="content-wrapper">
        <router-outlet></router-outlet>
    </section>

    <div id="footer-wrapper" class="footer-image-bg">
        <section class="transparent-wrapper">
            <div class="section-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="widget about-us-widget">
                                <h4 class="widget-title"><strong>Bilochka</strong></h4>
                                <p>Горіхи багаті легкозасвоюваними білками, корисними жирами, вітамінами і мінералами,
                                    крім того, вони містять незамінні амінокислоти, необхідні
                                    для живлення мозку і здоров'я імунної системи.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="white-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-2 text-left">
                        <div class="contacts-footer">
                            <ul class="list-inline">
                                <li class="list-inline-item contacts-email-label">
                                    <div><i class="fa fa-envelope-o"></i> bilochka.lviv@gmail.com</div>
                                </li>
                                <li class="list-inline-item">
                                    <div class="meta-item"><i class="fa fa-mobile"></i> +38 063 84 80 320</div>
                                </li>
                            </ul>
                        </div>
                        <div class="list-inline social-links">
                            <span>
                                <a href="https://www.instagram.com/bilochka_nuts_fruits" rel="noreferrer" target="_blank"
                                    aria-label="Twitter">
                                    <i class="fa fa-twitter"></i></a>
                            </span>
                            <span>
                                <a href="https://www.facebook.com/bilochka.nutsfruts" rel="noreferrer" target="_blank"
                                    aria-label="Facebook">
                                    <i class="fa fa-facebook"></i></a>
                            </span>
                            <span>
                                <a href="https://www.instagram.com/bilochka_nuts_fruits" rel="noreferrer" target="_blank"
                                    aria-label="Instagram">
                                    <i class="fa fa-instagram"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-left">
                        <div class="vertical-center">
                            <span class="copyright">Copyright {{date}}. Designed by SV.</span>
                        </div>
                    </div>
                </div>
                <div id="marketing-ad">
                    <p>
                        Горіхи сухофрукти та горішки купити у Львові найдешевші Львів інтернет магазин подарункові
                        набори подарункові коробочки
                        мікси горіхів та горішків львівські горішки до пива смачні недорогі коробки сухофруктів горішків
                        горіхів, горішки зі львова, горіхи зі львову,
                        фісташка, кедровий горіх, кіноа, грецький горіх, бразильський горіх, кеш'ю, мигдальний горіх, 
                        макадамія, чіа, фундук,
                        вишня, годжі, журавлина, курага, манго, помело, родзинки, ананас, вялений, в'ялені, в'ялений, вялені,
                        сушений, сушені, без гмо, без цукру, натуральні, зі львова, купити, придбати, де взяти, 
                        магазин, склад, найкращі, найдешевші, подарунок
                    </p>
                </div>
            </div>
        </footer>
    </div>

</div>