<div class="container">
        <div class="row">
                <div class="col-12">
                        <p class="about-us-text">
                                Ми пропонуємо вам тільки найкращі найкорисніші для Вашого організму горішки та сухофрукти
                                тому що ми турбується про здоров'я кожного нашого клієнта, та тому що ми розуміємо що
                                здоров'я починається з харчування. У нас Ви завжди знайдете продукти, в яких максимальна
                                кількість вітамінів і корисних речовин. Включивши їх в свій раціон, 
                                Ви кожен день будете сповнені енергії, сил і гарного настрою!
                                Також ми підготували для Вас подарункові вітамінні коробочки, які стануть найкращим подарунком
                                для Ваших рідних та коханих. Будьте здоровими і щасливими разом з компанією «Bilochka»!
                        </p>
                </div>
        </div>
        <div class="row">
                <div class="col-12 about-us-image">
                        <img src="assets/img/nutsLove.jpg" alt="Горішки Білочка"/>
                </div>
        </div>
</div>