.container {
    overflow: hidden;
}

.about-us-text {
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.about-us-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.about-us-image img {
    max-width: 100%;
    width: 500px;
}

.about-us-image-area {
    padding: 20px 0;
}